		/* Universal */

*,
*::before,
*::after {
	box-sizing: border-box;
}

		/* Main */

body {
	background: #293f50;
	color: #888;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	font-weight: 300;
	max-width: 960px;
	margin-inline: auto;
}

		/* Flex */

body > * {
	padding-inline: 4rem;
}

body > header:first-child {
	position: sticky;
	top: -2.75rem;
	padding-block-end: 1rem;
	border-block-end: 1px solid #fff;
	background: #293f50;
}

body > header:first-child,
body > footer:last-child {
	display: flex;
}

		/* Typography */

h1, h3, h4, h5, p {
	margin-block-end: 1.375em;
}

h1, h2, h3, h4 {
	color: #648880;
	line-height: 1.25;
	font-weight: normal;
}

h1 {
	font-size: 2.25em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
}

h4 {
	font-size: 1em;
}

h5 {
	color: #a9b2b9;
	font-size: 0.75em;
	font-weight: 400;
}

strong {
	font-weight: 400;
}

		/* Links */

a {
	color: #648880;
}

a.btn,
.teaser a,
header:first-child a,
nav a,
.speaker-socials a {
	text-decoration-line: none;
}

a:hover,
a:hover > h1,
a:hover > h3 {
	color: #648880;
}

		/* Buttons */

.btn {
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	border-radius: 0.3125em;
	margin: 0;
}

.btn-alt {
	border: 1px solid #dfe2e5;
	padding: 1em 2em;
}

.btn-alt:hover {
	background: #fff;
	color: #648880;
}

		/* Header */

a.logo {
	color: #fff;
}

a.logo:hover {
	color: #648880;
}

h1.logo {
	color: inherit;
	padding-block-start: 1em;
	border-block-start: 0.25rem solid #648880;
	margin: 0;
	text-transform: uppercase;
	font-size: 3em;
	line-height: 0.9;
	font-weight: 100;
}

.header-info {
	text-align: end;
	margin-inline-start: auto;
	margin-block-start: auto;
	margin-block-end: 0.125em;
}

.header-info-h {
	margin-block-start: 0;
	margin-block-end: 0.375em;
}

		/* Nav */

.primary-nav {
	display: flex;
}

.primary-nav a {
	color: #fff;
	padding: 0 0.25em;
	display: flex;
	justify-content: center;
}

.primary-nav a::before {
	content: attr(hover);
	text-transform: uppercase;
	font-weight: 800;
	line-height: 1;
	position: absolute;
	display: inline-block;
	transition: transform 1s cubic-bezier(0, 0.75, 0.25, 1);
	transform: rotateX(-90deg) translateZ(0.5em);
}

.primary-nav a:hover::before,
.primary-nav a:active::before {
	color: #648880;
	transform: rotateX(0deg) translateZ(0.5em);
}

.primary-nav a > span {
	text-transform: uppercase;
	line-height: 1;
	display: inline-block;
	transition: transform 1s cubic-bezier(0, 0.75, 0.25, 1);
	transform: rotateX(0deg) translateZ(0.5em);
}

.primary-nav a:hover > span,
.primary-nav a:active > span {
	color: #648880;
	transform: rotateX(90deg) translateZ(0.5em);
}

.primary-nav ul {
	padding: 0;
	margin: 0;
}

.primary-nav li {
	display: inline-block;
}

		/* Footer */

body > footer:last-child {
	color: #648880;
	padding-block: 44px;
	flex-direction: row-reverse;
}

		/* Rows */

.row {
	background: #fff;
}

.row-alt:first-of-type {
	text-align: center;
	padding-block: 2em;
}

.row-alt {
	margin-block-start: 3em;
	padding-block: 3em;
}

.row-alt h2 {
	white-space: nowrap;
	font-size: 2em;
	margin-block-start: 0;
	background: #648880;
	background: -webkit-linear-gradient(#ff6666, #6666ff);
	background: -moz-linear-gradient(#ff6666, #6666ff);
	background: linear-gradient(#ff6666, #6666ff);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.row p {
	margin-block-end: 0.25em;
}

.row-alt p {
	text-align: center;
}

.col-1-3 {
	flex: 1;
}

.col-2-3 {
	flex: 2;
}

		/* Home */

.hero {
	color: #fff;
	padding: 1em 5em 2em 5em;
	text-align: center;
}

.hero > h2 {
    font-size: 2.25em;
    font-weight: 200;
    margin-block-end: 0;
}

.hero > p {
    font-size: 1.5em;
    margin-block-start: 0;
    line-height: 1.5;
    font-weight: 200;
}

.row-decoration,
.row-decoration-gap,
.teaser {
	border-start-start-radius: 2em 7em;
	border-start-end-radius: 2em 7em;
	border-end-start-radius: 2em 7em;
	border-end-end-radius: 2em 7em;
}

.row-decoration {
	background-color: #fff;
	padding-inline: 0.5em;
}

.row-decoration-gap {
	background-color: #293f50;
	padding-inline: 0.809em; /* Golden ratio * 0.5 */
}

.row-decoration-gap .row-decoration-gap {
	padding-inline: 0.809em;
	padding-block: 0;
	margin-inline: -1em;
}

.row-decoration-gap .row-decoration-gap > section {
	padding-inline: 0;
	padding-block: 1.5em;
}

.teaser {
	background: #fff;
	display: flex;
}

.teaser > section {
	text-align: center;
	padding-inline: 0.809em;
	padding-block: 1.5em;
	flex: 200px;
}

.teaser h3 {
	margin-block-end: 1em;
}

.row a:hover h3 {
	color: #a9b2b9;
}

.hover-container:hover p {
	transform: translate(-150%, -50%) rotateY(-90deg);
}

.hover-img {
	height: 10em;
	perspective: 250px;
}

.hover-img p {
	top: 50%;
	left: 50%;
	width: 250px;
	margin: 0;
	position: absolute;
	transition: 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	transform-origin: right;
	transform-style: preserve-3d;
	transform: translate(-50%, -50%);
	backface-visibility: hidden;
}

.hover-img img {
	position: absolute;
	width: 75%;
	top: -50%;
	left: 100%;
	transform-origin: left;
	transform: rotateY(90deg) translateX(16.667%); /* (left - width) / 2 / width */
	backface-visibility: hidden;
	border-start-start-radius: 2em 7em;
	border-start-end-radius: 2em 7em;
	border-end-start-radius: 2em 7em;
	border-end-end-radius: 2em 7em;
	image-rendering: pixelated;
}

		/* Speakers */

.speaker {
	display: flex;
	padding-inline: 0;
}

.speaker-info {
	margin-inline: 0 1.5em;
}

.speaker-info h2 {
	margin: 0;
}

.speaker-info h5 {
	margin-block-start: 0.5em;
	text-transform: uppercase;
}

.speaker-info p {
	text-align: left;
	margin-block: 1em;
}

.speaker-socials {
	padding-block-end: 1em;
	border: 1px solid #a9b2b9;
	border-start-start-radius: 2em 7em;
	border-start-end-radius: 2em 7em;
	border-end-start-radius: 2em 7em;
	border-end-end-radius: 2em 7em;
	margin-block-start: 4em;
	margin-inline: 1.5em 0;
	text-align: center;
}

.speaker-socials img {
	border: 1px solid #a9b2b9;
	margin-block-start: -2px;
	margin-inline: -10px; /* Centers img */
	width: 101%; /* Gets rid of tiny gap */
	border-start-start-radius: 2em 7em;
	border-start-end-radius: 2em 7em;
	border-end-start-radius: 2em 7em;
	border-end-end-radius: 2em 7em;
}

.speaker-socials ul {
	list-style-type: none;
	padding-inline-start: 0;
}

		/* Venue */

.venue-theatre {
	display: flex;
	padding-block-end: 3em;
}

.venue-hotel {
	display: flex;
}

.venue-info p {
	text-align: start;
}

.venue-map {
	height: 264px;
}

		/* Register */

.register {
	display: flex;
}

.register p {
	text-align: left;
	padding-inline-end: 3em;
}

.why-attend {
	list-style: square;
	margin: 0 0 1em 2em;
}

.form {
	margin-block-end: 2em;
}

.register-group {
	border: none;
	padding: 0;
	margin: 0;
}

.register-group label {
	color: #648880;
	cursor: default;
}

.register-group input,
.register-group select,
.register-group textarea {
	border: 1px solid #c6c9cc;
	border-radius: 5px;
	color: #888;
	display: block;
	margin: 0.25em 0 2em 0;
	padding: 0.25em 0.5em;
}

.register-group input,
.register-group textarea {
	width: 100%;
}

.register-group textarea {
	height: 6em;
}

.btn-default {
	border: 0;
	background: #648880;
	padding: 11px 30px;
	font-size: 14px;
}

.btn-default:hover {
	background: #77a198;
}
